// Circle.scss
.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
    position: relative; // Add positioning
}

.circle {
    width: 100px;
    z-index: 99;
    height: 100px;
    background-color: rgba(240, 244, 248, 1);
    border-radius: 50%;
    display: flex;
    padding: 0px 13px;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12px;
    font-weight: 300;
    position: relative; // Add positioning
}

.circle-container::after {
    content: "";
    width: 5px;
    height: 59px;
    background: linear-gradient(
        to right,
        rgba(250, 203, 48, 1),
        rgba(254, 249, 200, 1),
        rgba(196, 149, 48, 1),
        rgba(255, 248, 195, 1)
    );
    position: absolute;
    top: 96.3%;
    left: 47.3%;
    transform: translateX(-50%);
    z-index: 1; // Set z-index to ensure it's in the same stacking context
}

// Rest of your styles...
